<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
    <title>Casa do Vira-Lata</title>
  </head>
  <body>
    <header class="header-content">
      <%- include('../../partials/accessibility'); %> 
      <%- include('../../partials/header'); %>
    </header>
    <main class="content-main">
        <div class="content-options-home--max">
            <h1 class="content-options-home__title">Olá, <span><%= user.name %></span>.</h1>
            <p class="content-options-home__subtitle">
                Aqui você pode gerenciar suas adoções e visualizar pets disponíveis.
            </p>
            <div class="card-container-options">
                <div class="card-options">
                    <a href="/user-default/my-adoptions">
                        <div class="card-content">
                        <div>
                            <i class="ph-fill ph-heart"></i>
                            <h2>Minhas Adoções</h2>
                        </div>
                        <p>Gerencie suas adoções</p>
                        </div>
                    </a>
                </div>
                <div class="card-options">
                    <a href="/user-default/solicitation">
                      <div class="card-content">
                        <div>
                          <i class="ph-fill ph-user"></i>
                          <h2>Solicitação de Moderação</h2>
                        </div>
                        <p>Solicitação de apoio voluntário no gereciamento da plataforma</p>
                      </div>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <%- include('../../partials/footer'); %>
  </body>
</html>
