<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
    <title>Casa do Vira-Lata - Cadastro de Animais</title>
  </head>
  <body class="container">
    <header class="header-content">
      <%- include('../../partials/accessibility'); %> <%-
      include('../../partials/header'); %>
    </header>

    <main class="content-main">
      <div class="adopt-content">
        <section class="title">
          <h2>Cadastro de <span>Pet</span></h2>
        </section>

        <section class="animal-form">
          <form onsubmit="createPet(event)" class="container-form-registration">
            <div class="animal-form__group">
              <p class="animal-form__group--title">Informações do Pet</p>
              <div class="form-group">
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" required />
              </div>
              <div class="content-form-group">
                <div class="form-group">
                  <label for="age">Idade:</label>
                  <input type="number" id="age" name="age" required />
                </div>
                <div class="form-group">
                  <label for="gender">Sexo:</label>
                  <select id="gender" name="gender">
                    <option value="Macho">Macho</option>
                    <option value="Fêmea">Fêmea</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="type">Espécie:</label>
                <select id="type" name="type">
                  <option value="Gato">Gato</option>
                  <option value="Cachorro">Cachorro</option>
                </select>
              </div>
              <div class="form-group">
                <label for="size">Tamanho:</label>
                <select id="size" name="size">
                  <option value="Pequeno">Pequeno</option>
                  <option value="Médio">Médio</option>
                  <option value="Grande">Grande</option>
                </select>
              </div>
              <div class="form-group">
                <label for="image">URL da Imagem:</label>
                <input type="text" id="image" name="image" required />
              </div>

              <div class="form-group--line">
                <label for="is-castrado">O animal é castrado?</label>
                <input type="checkbox" id="castrated" name="castrated" />
              </div>
              <div class="form-group--line">
                <label for="is-castrado">O animal é vacinado?</label>
                <input type="checkbox" id="vaccinated" name="vaccinated" />
              </div>

              <div class="form-group--line">
                <label for="is-castrado">O animal é vermifugado?</label>
                <input type="checkbox" id="dewormed" name="dewormed" />
              </div>
            </div>

            <button type="submit" class="submit-button">
              Cadastrar Animal
            </button>
          </form>
        </section>
      </div>
    </main>

    <%- include('../../partials/modal', { 
      modalId: 'modal-sucess-solicit-animal', 
      title: 'Sucesso', 
      body: '<p>Cadastro de animal finalizado com sucesso.</p>', 
      footer: '', 
      onClose: 'closeModalSuccessAnimalRegister' 
    }) %>
    <%- include('../../partials/modal', { 
      modalId: 'modal-error-solicit-adopt', 
      title: 'Ops!', 
      body: '<p>Houve um erro ao fazer o cadastro do pet, tente novamente.</p>', 
      footer: '', 
      onClose: 'closeModalErrorSolicitAdopt' 
    }) %>


    <script src="/js/createPet.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/utils.js"></script>
    <%- include('../../partials/footer'); %>
  </body>
</html>
