<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
    <title>Casa do Vira-Lata - Cadastro de Animais</title>
  </head>
  <body class="container">
    <header class="header-content">
      <%- include('../../partials/accessibility'); %> <%-
      include('../../partials/header'); %>
    </header>

    <main class="content-main">
      <div class="adopt-content">
        <section class="title">
          <h2>
            <% if(typeof(pet) != "undefined") { %>
              Editar
            <% } else { %>
              Cadastro de
            <% } %>
            <span>Pet</span>
          </h2>
        </section>
        <section class="animal-form">
          <form class="container-form-registration" <% if(typeof(pet) != "undefined") { %>onsubmit="editPet(event, <%= JSON.stringify(pet.id) %>)"<% } else { %>onsubmit="createPet(event)"<% } %>>
            <div class="animal-form__group">
              <p class="animal-form__group--title">Informações do Pet</p>
              <div class="form-group">
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" required value="<% if( typeof(pet) != "undefined") { %><%= pet.name %><% } %>"/>
              </div>
              <div class="content-form-group">
                <div class="form-group">
                  <label for="age">Idade:</label>
                  <input type="number" id="age" name="age" required value="<% if( typeof(pet) != "undefined") { %><%= pet.age %><% } %>"/>
                </div>
                <div class="form-group">
                  <label for="gender">Sexo:</label>
                  <select id="gender" name="gender">
                    <option value="Macho" <% if( typeof(pet) != "undefined" &&  pet.gender === "Macho") { %>selected<% } %>>Macho</option>
                    <option value="Fêmea" <% if( typeof(pet) != "undefined" &&  pet.gender === "Fêmea") { %>selected<% } %>>Fêmea</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="type">Espécie:</label>
                <select id="type" name="type">
                  <option value="Gato" <% if( typeof(pet) != "undefined" &&  pet.type === "Gato") { %>selected<% } %>>Gato</option>
                  <option value="Cachorro" <% if( typeof(pet) != "undefined" &&  pet.type === "Cachorro") { %>selected<% } %>>Cachorro</option>
                </select>
              </div>
              <div class="form-group">
                <label for="size">Tamanho:</label>
                <select id="size" name="size">
                  <option value="Pequeno" <% if( typeof(pet) != "undefined" &&  pet.size === "Pequeno") { %>selected<% } %>>Pequeno</option>
                  <option value="Médio" <% if( typeof(pet) != "undefined" &&  pet.size === "Médio") { %>selected<% } %>>Médio</option>
                  <option value="Grande" <% if( typeof(pet) != "undefined" &&  pet.size === "Grande") { %>selected<% } %>>Grande</option>
                </select>
              </div>
              <div class="form-group">
                <label for="image">URL da Imagem:</label>
                <input type="text" id="image" name="image" required value="<% if( typeof(pet) != "undefined") { %><%= pet.image %><% } %>"/>
              </div>

              <div class="form-group--line">
                <label for="is-castrado">O pet é castrado?</label>
                <input type="checkbox" id="castrated" name="castrated" <% if( typeof(pet) != "undefined" &&  pet.castrated) { %>checked<% } %> />
              </div>
              <div class="form-group--line">
                <label for="is-castrado">O pet é vacinado?</label>
                <input type="checkbox" id="vaccinated" name="vaccinated" <% if( typeof(pet) != "undefined" &&  pet.vaccinated) { %>checked<% } %> />
              </div>

              <div class="form-group--line">
                <label for="is-castrado">O pet é vermifugado?</label>
                <input type="checkbox" id="dewormed" name="dewormed" <% if( typeof(pet) != "undefined" &&  pet.dewormed) { %>checked<% } %> />
              </div>
            </div>
            <% if(typeof(pet) != "undefined") { %>
              <button type="submit" class="submit-button">
                Editar pet
              </button>
            <% } else { %>
              <button type="submit" class="submit-button">
                Cadastrar pet
              </button>
            <% } %>
          </form>
        </section>
      </div>
    </main>

    <%- include('../../partials/modal', { 
      modalId: 'modal-sucess-solicit-animal', 
      title: 'Sucesso', 
      body: '<p>Operação finalizada com sucesso.</p>', 
      footer: '', 
      onClose: 'closeModalSuccessAnimalRegister' 
    }) %>
    <%- include('../../partials/modal', { 
      modalId: 'modal-error-solicit-adopt', 
      title: 'Ops!', 
      body: '<p>Houve um erro. Tente novamente.</p>', 
      footer: '', 
      onClose: 'closeModalErrorSolicitAdopt' 
    }) %>


    <script src="/js/pets.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/utils.js"></script>
    <%- include('../../partials/footer'); %>
  </body>
</html>
