<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
    <title>Casa do Vira-Lata</title>
  </head>
  <body>
    <header class="header-content">
      <%- include('../../partials/accessibility'); %> <%-
      include('../../partials/header'); %>
    </header>
    <main class="content-main">
      <div class="content-options-home--max">
        <h1 class="content-options-home__title">
          Olá, <span><%= user.name %></span>.
        </h1>
        <p class="content-options-home__subtitle">
          Aqui você pode gerenciar as solicitações de adoção e cadastrar os
          animais para adoção;
        </p>

        <div class="card-container-options">
          <div class="card-options">
            <a href="/moderator/animal-registration">
              <div class="card-content">
                <div>
                  <i class="ph-fill ph-paw-print"></i>
                  <h2>Cadastrar PET</h2>
                </div>
                <p>Cadastre animais para adoção</p>
              </div>
            </a>
          </div>

          <div class="card-options">
            <a href="/moderator/solicitations-adoptions">
              <div class="card-content">
                <div>
                  <i class="ph-fill ph-heart"></i>
                  <h2>Solicitações de adoção</h2>
                </div>
                <p>Gerencie as solicitações de adoção</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </main>
    <%- include('../../partials/footer'); %>
  </body>
</html>
