<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
    <title>Casa do Vira-Lata - Solicitações de Adoção</title>
  </head>
  <body class="container">
    <header class="header-content">
      <%- include('../../partials/accessibility'); %> 
      <%- include('../../partials/header'); %>
    </header>

    <main class="main-solicitations-adoptions">
      <div class="content-page-table-solicit-adoptions--max">
        <h1 class="content-page-table__title">Solicitações de Adoção</h1>
        <div class="content-page-table__search-form">
          <!-- Seção de busca, se necessário -->
        </div>

        <% if(data && data.length > 0) { %>
        <table class="content-page-table__table">
          <thead>
            <tr>
              <th class="table-header">Solicitante</th>
              <th class="table-header">Pet</th>
              <th class="table-header">Data da Solicitação</th>
              <th class="table-header">OPÇÕES</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach(function(solicitation) { %>
            <tr id="solicitation-row-<%= solicitation.id %>">
              <td><%= solicitation.fullName %></td> <!-- Ajuste conforme seu modelo de dados -->
              <td><%= solicitation.name %></td> <!-- Você pode precisar ajustar isso com base nos seus dados -->
              <td><%= solicitation.date %></td> <!-- Certifique-se de que 'date' está presente nos seus dados -->
              <td class="table-actions">
                <button class="edit-button" onclick="acceptAdoptionRequest(<%= solicitation.id %>)">
                  <i class="ph-fill ph-check-fat"></i>
                </button>
                <button class="delete-button" onclick="rejectAdoptionRequest(<%= solicitation.id %>)">
                  <i class="ph ph-trash"></i>
                </button>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <% } else { %>
        <div class="list__no-result">
          <p>Sem resultados</p>
        </div>
        <% } %>
     
      </div>
    </main>

    <footer class="footer"><%- include('../../partials/footer'); %></footer>
    <script src="/js/moderator.js"></script> <!-- Ajuste o caminho do script conforme necessário -->
  </body>
</html>
