<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
    <title>Casa do Vira-Lata - Pets</title>
  </head>
  <body class="container">
    <header class="header-content">
      <%- include('../../partials/accessibility'); %> <%-
      include('../../partials/header'); %>
    </header>

    <main>
      <div class="content-page-table--max"> 
        <h1 class="content-page-table__title">Pets</h1>
        <div class="content-page-table__search-form">
          <div class="filters--group-select">
            <div class="filters__select">
              <select class="filters__select__type" id="filterType">
                <option value="Todos" selected disabled hidden>
                  Selecione o tipo do pet
                </option>
  
                <option>Gato</option>
                <option>Cachorro</option>
              </select>
            </div>
            <div class="filters__select">
              <select class="filters__select__size" id="filterSize">
                <option value="Todos" selected disabled hidden>
                  Selecione o porte
                </option>
                <option>Grande</option>
                <option>Médio</option>
                <option>Pequeno</option>
              </select>
            </div>
            <div class="filters__select">
              <select class="filters__select__gender" id="filterGender">
                <option value="Todos" selected disabled hidden>
                  Selecione o sexo
                </option>
                <option>Fêmea</option>
                <option>Macho</option>
              </select>
            </div>
            <div class="filters__right">
              <input type="text" placeholder="Buscar" id="filterSearch"/>
              <button class="filters__right--button" id="searchButtonList">Buscar</button>
              <button id="clearFiltersButtonList">Limpar</button> 

            </div>
          </div>
        </div>
        <div id="items_area"></div>
      </div>
    </main>
    <%- include('../../partials/modal', { 
      modalId: 'modal-sucess-solicit-listPets', 
      title: 'Pet removido!', 
      body: '<p>Pet removido com sucesso.</p>', 
      footer: '', 
      onClose: 'closeModalSolicitListPets' 
    }) %>
    <%- include('../../partials/modal', { 
      modalId: 'modal-error-solicit-listPets', 
      title: 'Erro!', 
      body: '<p>Erro ao remover pet, tente novamente.</p>', 
      footer: '', 
      onClose: 'closeModalSolicitListPets' 
    }) %>
    

    <script src="/js/modal.js"></script>
    <script src="/js/user-default.js"></script>
    <script src="/js/data/admin/pets.js"></script>
    <script src="/js/pagination.js"></script>
    <script src="/js/utils.js"></script>
    <%- include('../../partials/footer'); %>
  </body>
</html>
