<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="container">
    <header class="header-content">
      <%- include('../../partials/accessibility'); %> <%-
      include('../../partials/header'); %>
    </header>

    <main>
      <div class="content-page-table--max"> 
        <h1 class="content-page-table__title">Pets</h1>
        <div class="content-page-table__search-form">
          <div class="filters--group-select">
            <div class="filters__select">
              <select class="filters__select__type">
                <option value="" selected disabled hidden>
                  Selecione o tipo de animal
                </option>
                <option>Gato</option>
                <option>Cachorro</option>
              </select>
            </div>
            <div class="filters__select">
              <select class="filters__select__type">
                <option value="" selected disabled hidden>
                  Selecione o porte
                </option>
                <option>Grande</option>
                <option>Médio</option>
                <option>Pequeno</option>
              </select>
            </div>
            <div class="filters__select">
              <select class="filters__select__type">
                <option value="" selected disabled hidden>
                  Selecione o sexo
                </option>
                <option>Fêmea</option>
                <option>Macho</option>
              </select>
            </div>
            <div class="filters__right">
              <input type="text" placeholder="Buscar" />
              <button class="filters__right--button">Aplicar Filtros</button>
            </div>
          </div>
        </div>
        <% if(data.length > 0) { %>
        <table class="content-page-table__table">
          <thead>
            <tr>
              <th class="table-header">Nome</th>
              <th class="table-header">Tipo</th>
              <th class="table-header">Sexo</th>
              <th class="table-header">Tamanho</th>
              <th class="table-header">opções</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach(function(pet) { %>
            <tr>
              <td><%= pet.name %></td>
              <td><%= pet.type %></td>
              <td><%= pet.gender %></td>
              <td><%= pet.size %></td>
              <td class="table-actions">
                <button class="edit-button">
                  <i class="ph-fill ph-pencil"></i>
                </button>
                <button class="delete-button">
                  <i class="ph ph-trash"></i>
                </button>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <% } else { %>
        <div class="list__no-result">
          <p><%= !(typeof(message) === "undefined") ? message : "Sem resultados" %></p>
        </div>
        <% } %>
        <div class="content-page-table__pagination">
          <%- include('../../partials/pagination'); %>
        </div>
      </div>
    </main>

    <footer class="footer"><%- include('../../partials/footer'); %></footer>
  </body>
</html>
