<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
    <title>Casa do Vira-Lata - Minhas Adoções</title>
  </head>
  <body class="container">
    <header class="header-content">
      <%- include('../../partials/accessibility'); %> 
      <%- include('../../partials/header'); %>
    </header>

    <main>
      <div class="content-page-table--max"> 
        <h1 class="content-page-table__title">Minhas adoções</h1>
        <% if (adoptions && adoptions?.length > 0) { %>
          <table class="content-page-table__table">
            <thead>
              <tr>
                <th>Nome do Pet</th>
                <th>Idade do Pet</th>
                <th>Sexo do Pet</th>
                <th>Raçã do Pet</th>

                <th>Data da Adoção</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% adoptions?.forEach(function(adoption) { %>
                <tr>
                  <td><%= adoption.name %></td>
                  <td><%= adoption.age %></td>
                  <td><%= adoption.gender %></td>
                  <td><%= adoption.type %></td>

                  <td><%= adoption.date %></td>
                  <td><%= adoption.status %></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        <% } else { %>
          <p>Você ainda não realizou nenhuma adoção.</p>
        <% } %>
      </div>
    </main>

    <footer class="footer"><%- include('../../partials/footer'); %></footer>
  </body>
</html>
