<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
    <title>Casa do Vira-Lata - Solicitação de MODERATOR</title>
  </head>
  <body class="container">
    <header class="header-content">
      <%- include('../../partials/accessibility'); %> <%-
      include('../../partials/header'); %>
    </header>

    <main class="main-user-solicitation">
      <section class="title">
        <h2>Solicitação de <span>Moderação</span></h2>
      </section>
      <div class="box-text">
        <p>
          A <span>Casa do Vira-Lata</span> é uma ONG sem fins lucrativos dedicada ao apoio de
          animais em situação de rua. Nossa equipe, embora pequena, está empenhada
          em cuidar desses animais de maneira compassiva. Reconhecemos que, para
          alcançar mais, precisamos da ajuda e do envolvimento ativo da comunidade
          na gestão desta plataforma.
        </p>
        <p>
          Se você deseja se juntar à nossa equipe, por favor, compartilhe um pouco
          sobre si mesmo e explique por que deseja ajudar. Sua participação é
          fundamental para ampliarmos nosso impacto e proporcionar melhores
          condições a esses animais desfavorecidos. <span>Juntos, podemos fazer a
          diferença</span>.
        </p>
        <p>
          Estamos ansiosos para saber mais sobre você e como sua contribuição pode
          fortalecer nossa missão de cuidar e proteger esses animais vulneráveis.
          Desde já, obrigado pelo seu interesse em se juntar a nós na <span>Casa do Vira-Lata</span>.
        </p>
      </div>
      <form onsubmit="submitModeratorRequest(event)">
        <textarea id="reason" placeholder="Conte-nos sobre você e porque quer fazer parte da casa do vira-lata" name="reason" rows="8" required></textarea>
        <button type="submit" class="solicitation-button">Enviar</button>
      </form>
    </main>
    <%- include('../../partials/modal', { 
      modalId: 'modal-sucess-solicit-moder', 
      title: 'Solicitação enviada!', 
      body: '<p>Solicitação enviada com sucesso, aguarde.</p>', 
      footer: '', 
      onClose: 'closeModalSuccessSolicit' 
    }) %>
    <%- include('../../partials/modal', { 
      modalId: 'modal-error-solicit-moder', 
      title: 'Ops!', 
      body: '<p>Houve um erro ao fazer a solicitação, tente novamente.</p>', 
      footer: '', 
      onClose: 'closeModalErrorSolicit' 
    }) %>
    <footer class="footer"><%- include('../../partials/footer'); %></footer>
    <script src="/js/modal.js"></script>
    <script src="/js/user-default.js"></script>
  </body>
</html>
