<!DOCTYPE html>
<html lang="en" style="color-scheme: light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/global.css" />
    <link rel="stylesheet" href="styles/menu.css" />
    <link rel="stylesheet" href="styles/footer.css" />
    <link rel="stylesheet" href="styles/form.css" />
    <link rel="stylesheet" href="styles/modal-confirm.css" />

    <link rel="stylesheet" href="styles/adm-infos-users.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>Casa do Vira-Lata - Administração do usuário</title>
  </head>
<body class="body-adm-infos-users">
  <%- include('partials/acessibility-bar') %>

  <!-- Navbar -->
  <%- include('partials/header') %>

    <main class="content-adm-infos-users">
        <div class="content-infos-user--max">
            <div class="content-adm-infos-users--header">
                <img src="<%= user.imageUrl %>" alt="Imagem do usuário" />
                <div>
                    <h1>Informações do usuário</h1>
                    <p><%= user.role %></p>
                </div>
            </div>

            <div class="content-adm-infos-users__card-infos">
                <% user.infos.forEach(function(info) { %>
                    <div class="content-adm-infos-users__card-info">
                        <span class="content-adm-infos-users__label"><%= info.label %>:</span>
                        <span class="content-adm-infos-users__value"><%= info.value %></span>
                    </div>
                <% }); %>
                <div class="content-adm-infos-users__role">
                    <button class="content-adm-infos-users__btn content-adm-infos-users__btn--remove">
                        Remover Acesso
                    </button>
                </div>
            </div>
        </div>
        <!-- Modal de confirmação -->
    </main>

    <%- include('partials/footer') %>
    <script src="script.js"></script>
</body>
</html>
