<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>

    <title>Casa do Vira-Lata</title>
  </head>
  <body class="container">
    <header class="header-content">
      <%- include('../../partials/accessibility'); %> <%-
      include('../../partials/header'); %>
    </header>

    <main>
      <section class="section section--green section--first">
        <div class="section__content section-1">
          <div class="section__main">
            <div class="section__main--content">
              <p class="section__subtitle">
                Encontre seu <span>melhor</span> <br />amigo pet
              </p>
              <p>
                Bem-vindo ao <span>Casa do Vira-lata</span>, o seu destino
                online para encontrar um amigo peludo para toda a vida! Estamos
                dedicados a conectar animais adoráveis a corações amorosos. Em
                nosso abrigo virtual, você encontrará uma ampla variedade de
                cães e gatos adoráveis, todos esperando por um lar.
              </p>
              <button class="section__btn">
                <span>Saiba Mais</span>
                <i class="ph ph-caret-right"></i>
              </button>
            </div>
            <div class="section__arrows">
              <i class="ph ph-caret-double-down"></i>
            </div>
          </div>
        </div>
      </section>

      <section class="section section--light">
        <div class="section-2">
          <div class="section__left">
            <h2 class="section__title">
              O que é a <br /><span>Casa do Vira-Lata</span>?
            </h2>
            <div class="section__text">
              <p>
                Nossa missão é proporcionar adoções simples e emocionantes,
                conectando pessoas a animais amorosos. Cada pet tem sua história
                única e personalidade encantadora. Ao adotar conosco, você
                oferece um lar seguro a um animal necessitado, garantindo um
                amigo saudável e feliz. Já realizamos 500+ adoções desde 2019,
                graças ao apoio da comunidade. Adote um pet, transforme vidas
                hoje!
              </p>

              <a href="/pets" class="section__btn">
                <span>Quero adotar!</span>
              </a>
            </div>
          </div>

          <div class="pet">
            <img
              src="/images/cat-happy.png"
              alt="Gato feliz"
              class="cat-happy"
            />
          </div>
        </div>
      </section>

      <section class="section section--green">
        <div class="section-3">
          <h2 class="section__title">Alguns dos nossos amigos</h2>
          <p>
            Abrigo não é lar, são animais domésticos e amam pertencer a uma
            família
          </p>
          <%- include('../../partials/carousel'); %>
        </div>
      </section>

      <section class="section section--light">
        <div class="section-4">
          <div class="section-4__left">
            <ul class="social-list">
              <li class="social-list__item social-list__item--instagram">
                <i class="ph-fill ph-instagram-logo"></i>
                <a href="#" class="social-list__link">casadoviralata</a>
              </li>
              <li class="social-list__item social-list__item--twitter">
                <i class="ph-fill ph-twitter-logo"></i>
                <a href="#" class="social-list__link">casadoviralata</a>
              </li>
              <li class="social-list__item social-list__item--rifa">
                <i class="ph-fill ph-hand-coins"></i>
                <a href="#" class="social-list__link"
                  >Rifa especial Casa do Vira-Lata</a
                >
              </li>
            </ul>
            <p>
              Não existe animais de rua, existem <br />
              animais nas ruas e eles precisam de nós.
            </p>
          </div>
          <div class="section-4__right">
            <h2 class="section-4__title">Contribua ❤️</h2>
            <p>
              Gabriel Santos Chaves <br />
              Banco Inter
            </p>
            <div>
              <img
                src="images/qr-code.svg"
                alt="QR Code"
                class="section-4__qr-code"
              />
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer"><%- include('../../partials/footer'); %></footer>
  </body>
</html>
