<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
    <title>Login</title>
  </head>
  <body>
    <header class="header-content">
      <%- include('../../partials/accessibility'); %>
    </header>
    <main>
        <section class="login-content">
            <div class="login login-image"></div>
            <div class="login login-form">
                <h2><span>Olá</span>, seja bem-vindo.</h2>
                <p>É novo por aqui? <a href="/register">Cadastre-se</a>.</p>
                <form action="/login" method="post">
                    <div class="form-group">
                        <label>E-mail:</label>
                        <input autocomplete="off" type="email" name="email" required placeholder="Digite seu e-mail" value="<% if( typeof(error) != "undefined") { %><%= data.email %><% } %>"/>
                    </div>
                    <div class="form-group">
                        <label>Senha:</label>
                        <input autocomplete="off" type="password" name="password" required placeholder="Digite sua senha" value="<% if( typeof(error) != "undefined") { %><%= data.password %><% } %>"/>
                    </div>
                    <% if( typeof(error) != "undefined") { %>
                        <p><%= error %></p>
                    <% } %>
                    <% if( typeof(message) != "undefined") { %>
                        <p><%= message %></p>
                    <% } %>
                    <button type="submit">Entrar</button>
                </form>
            </div>
        </section>
    </main>
    <%- include('../../partials/footer'); %>
  </body>
</html>
